body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/static/images/font.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/static/images/font.jpeg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(8px);
    z-index: -2;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.nav-link {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-link:hover {
    background-color: #ddd;
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 70px); /* Adjust based on navbar height */
    margin-top: 20px;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.filters-page1, .filters-page2 {
    width: 20%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    height: calc(90vh - 110px); /* Adjust based on navbar and margin height */
}

.filters-page1 h2, .filters-page2 h2 {
    color: white;
    text-align: center;
}

.filters-page1 form, .filters-page2 form {
    display: flex;
    flex-direction: column;
}

.filters-page1 label, .filters-page2 label {
    margin: 10px 0 5px;
}

.filters-page1 select, .filters-page2 select, .filters-page1 input[type="submit"], .filters-page2 input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.filters-page1 input[type="submit"], .filters-page2 input[type="submit"] {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.filters-page1 input[type="submit"]:hover, .filters-page2 input[type="submit"]:hover {
    background-color: #0056b3;
}

.content-page1, .content-page2 {
    width: 75%;
    padding: 20px;
}

.content-home {
    text-align: center;
    padding: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

.graphs-container-page2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.graph-box-page2 {
    width: 48%;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: black;
}
